[submodule "neural_cleance"]
	path = neural_cleance
	url = https://github.com/TDteach/neural_cleance.git
[submodule "gtsrb.keras"]
	path = gtsrb.keras
	url = https://github.com/TDteach/gtsrb.keras.git
[submodule "poison_frogs"]
	path = poison_frogs
	url = https://github.com/TDteach/inceptionv3-transferLearn-poison.git
	branch = master
[submodule "strip"]
	path = strip
	url = https://github.com/TDteach/STRIP.git
[submodule "black_box"]
	path = black_box
	url = https://github.com/TDteach/limited-blackbox-attacks.git
