[submodule "benchmarks"]
	path = benchmarks
  url = https://github.com/TDteach/benchmarks.git
[submodule "tf_models"]
	path = tf_models
	url = https://github.com/tensorflow/models.git
	branch = r1.12.0
[submodule "neural_cleance"]
	path = neural_cleance
	url = https://github.com/TDteach/neural_cleance.git
[submodule "gtsrb.keras"]
	path = gtsrb.keras
	url = https://github.com/TDteach/gtsrb.keras.git
[submodule "poison_frogs"]
	path = poison_frogs
	url = https://github.com/TDteach/inceptionv3-transferLearn-poison.git
	branch = master
