[submodule "neural_cleance"]
	path = neural_cleance
	url = https://github.com/TDteach/neural_cleance.git
[submodule "gtsrb.keras"]
	path = gtsrb.keras
	url = https://github.com/TDteach/gtsrb.keras.git
[submodule "poison_frogs"]
	path = poison_frogs
	url = https://github.com/TDteach/inceptionv3-transferLearn-poison.git
	branch = master
